body {
    font-family: 'Radio Canada Big', sans-serif;
    text-align: center;
    background-color: #faa275;
    color:white;
}
h2, h3, p{
    margin: 0;
}

input{
    background:transparent;
    border: none;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
}
input:focus{
    outline: none;
}

.input_container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(5px);
    
}
.input_field{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 2;
    background: #eabfea;
    border-radius: 1rem;
    
}

.input_field >div{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    padding-left: 1rem;
    overflow: hidden;
    border: 1px solid white;
    height: 5.5rem;

    
}

.btn{
    border: none;
    padding: 0.5rem;
    background-color: #eaa8ea;
    cursor: pointer;
    font-size: 20px;
}

.error{
    color: red;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: 2rem;
    position: relative;
}

.game{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    width: 400px;
    padding: 1rem;
    box-shadow: 3px 7px 17px rgb(137 110 137);
    border-radius: 1rem;
}


.cell {
    border-width: 0;
    border-color: white;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 2em;
    cursor: pointer;
    border-radius: 0.5rem;
}

.top{
    border-bottom-width: 5px;
    
}

.bottom{
    border-top-width: 5px;
}

.left{
    border-right-width: 5px;
}

.right{
    border-left-width: 5px;
}

.cell:hover {
    /* background-color: peachpuff; */
    /* box-shadow: inset 0 0 16px 0px rgb(246 238 246); */
    box-shadow: inset 0 0 16px 0px rgb(255 218 185);
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2{
    
    margin-bottom: 1rem;
    color: white;
    letter-spacing: 2px;
    position: relative;
}

.title h2::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    border-radius: 2rem;
    background: white;

}

#leaderboard {
    margin-top: 20px;
    background-color: peachpuff;
}

li {
    text-align: start;
}

.container {
    background-color: #bd93bd;
}


.leaderboard{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    color: black;
    border-radius: 1rem;
    margin: 2rem 1rem;

}

@media (max-width: 500px) {
    .board{
        height: 200px;
        width: 200px;
    }
    .container {
        margin: 2rem 1rem;
    }

    .input_field >div {
        flex-direction: column;
        padding: 0.2rem;
    }
    input{
        height: -webkit-fill-available;
        width: 10rem;
        padding: 0;
    }
}